---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h2 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h2>
          <p class="desc">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.html
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}

            <!-- Social icons -->
            {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>
            </div>
            {%- endif %}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          <!-- Image -->
          <div class="image-container">
            <img src="assets/img/Timeline.png" alt="Experience" style="width: 180px; height: auto;">
          </div>

          <!-- Education -->
          {% if page.education %}
          <h5 class="education-header">Education</h5>
          <ul class="ul-edu fa-ul">
            <li>
              <img src="assets/img/Gator.png" class="fa-li fa fa-graduation-cap" style="margin-right: 3px;">
              <div class="description">
                <p class="course">M.Sc. in Computer Science, 2022-2024</p>
                <p class="institution"><a href="https://www.cise.ufl.edu/" target="_blank">University of Florida</a>, USA</p>
              </div>
            </li>
            <li>
              <img src="assets/img/SCU.png" class="fa-li fa fa-graduation-cap" style="margin-right: 3px;">
              <div class="description">
                <p class="course">B.Eng. in Chemical Engineering, 2018-2022</p>
                <p class="institution"><a href="https://en.scu.edu.cn/" target="_blank">Sichuan University</a>, China</p>
              </div>
            </li>
          </ul>
          {% endif %}

          <!-- News -->
          {% if page.news and site.announcements.enabled -%}
            <h5><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h5>
            {%- include news.html limit=true %}
          {%- endif %}

          <!-- Publications -->
          {% if page.selected_papers -%}
            <h5><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Publications</a></h5>
            {%- include selected_papers.html %}
          {%- endif %}

          <!--
          Latest posts
          {% if page.latest_posts -%}
            <h3><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest posts</a></h3>
            {%- include latest_posts.html %}
          {%- endif %}
          -->


          
          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-note">
                {{ site.contact_note }}
              </div>
            </div>
          {%- endif %}
        </article>

</div>
